@charset "UTF-8";
/* CSS Document */




/****************************/
/******** Input Style *******/
/****************************/

.pink {
    background-color:#F3C;    
}
.lime {
	background-color:#CF0;	
}
.blue {
	background-color:#09C;	
}

textarea, input[type=text] {
   	border: 1px solid white;
    
	-webkit-box-shadow: inset 0px 0px 9px 1px rgba(0, 0, 0, 0.3);
			box-shadow: inset 0px 0px 9px 1px rgba(0, 0, 0, 0.3);
    padding: 10px;
    background: rgb(255,255,255);
    margin: 0 0 10px 0;
	width: 760px;
	font-size: 20px;
	color:#666;
	font-weight:bold;
    font-family:Georgia, "Times New Roman", Times, serif;
}

.sub {
	font-size:14px;
	color:#ccc;	
	font-weight:normal;
}

.createdByText {
    font-style: italic;
}
	
.create_form {
	width: 850px;
	padding:25px;
	background:#fff;
}
		
	.create_form ul{
		float:left;
		margin:0;
		width:780ox;
	}
		.create_form ul li{
			list-style:none;
			padding:0px 10px;
		}
		.create_form ul li > p{
			font-size:16px;
			margin: 10px 0;
		}
		
		.create_form ul li.sharebox {
			margin:30px 0 20px 0;
		}
			.create_form ul li {
				padding:0;
				margin:0;	
			}
			.create_form ul.cat_selector {
				padding: 0 5px;
				width: 780px;
				margin-left:-10px;
				
			}
			
			.create_form ul.cat_selector a > div {
				width:20px;
				position:absolute;
				right:0;
				top:0;
				border-radius:0 5px 5px 0;
				height: 50px;
			}
			
			.create_form ul.cat_selector a{
				float:left;
				line-height: 50px;
				cursor:pointer;
				margin:10px;
				text-align:center;
				width:172px;
				height:50px;
				border-radius:5px;
				position:relative;
				overflow:hidden;
				border: solid #ccc 1px;

				-webkit-box-shadow: inset 0px 0px 2px 2px rgba(255, 255, 255, 1);
				box-shadow: inset 0px 0px 2px 1px rgba(255, 255, 255, 1);
				
				background: #ffffff; /* Old browsers */
				background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 97%); /* FF3.6+ */	
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(97%,#f2f2f2));
				background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 97%);
				background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 97%); 
				background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 97%); 
				background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 97%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );

			}
			.create_form ul.cat_selector a:hover{
				background: #ffffff; /* Old browsers */
				background: -moz-linear-gradient(top,  #FFF 0%, #EAEAEA 97%); 
				background: -webkit-linear-gradient(top,  #FFF 0%, #EAEAEA 97%); 
				background: linear-gradient(to bottom, #FFF 0%, #EAEAEA 97%);
			}
			.create_form ul.cat_selector a.selected{
				line-height:50px;
				width: 175px;
				-webkit-box-shadow: inset 0px 0px 9px 1px rgba(0, 0, 0, 0.5);
				box-shadow: inset 0px 0px 9px 1px rgba(0, 0, 0, 0.5);
				background-color:#F7F7F7;
				font-weight:bold;
			}
			
			.create_form ul.cat_selector .addcat {
				margin: 10px 0 0 10px;
				width: 172px;
				
				text-align:center;
				
				line-height:50px;
				font-weight:bold;
				border-radius: 5px;
				color:#e2e2e2;
				border:solid #fff 1px;
				-webkit-box-shadow: inset 0px 0px 5px 5px rgba(200, 200, 200, 0.1);
				
				background: #ffffff; /* Old browsers */
			}	
			
			
		.create_form ul li.label{
			text-align:right;
			padding-top:8px;
			font-size:12px;
		}



#catName {
	display:none;	
}

.submitbutton {
	margin-top:12px;	
	text-align:right;
}
	
	
	
	
	
	