@charset "UTF-8";
/* CSS Document */

body {
    color:#7B7474;    
    margin:10px;
    font-family:  Georgia, "Times New Roman", Times, serif;
}
div {
    display:block;    
}

a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt, u, ul, var {
    background: transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    outline: 0;
    vertical-align: top;
}

/*Header Banner*/
.banner {
	width: 100%;
	height: 50px;	
	padding: 20px;
	min-width:800px;
}
	.banner .user_status {
		float:right;
		padding: 0 40px 0 0;
		position:relative;
	}
	
	.banner .user_status #setting {
		width: 100px; 
		background:#fff; 
		position: absolute; 
		right:0px; top: 45px; 
		z-index:5000;
		box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3); 
		padding: 10px;
		display:none;
	}

	.banner .user_status #setting a {
		color:#666;
		text-decoration:none;
	}
	.banner .user_status #setting a:hover {
		color:#09F;	
	}
	
		.banner .user_status img {
			float:left;
			border:#fff 3px solid;
			box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); 
			height: 40px;
			width:inherit;          
		}
		.banner .user_status ul li {
			float:left;
			list-style:none;
			line-height: 50px;
			padding: 0 20px 0 0;
			font-size: 1em;
			position:relative;
		}
		
		.banner .user_status ul li .down_triangle {
			width: 0; 
			height: 0;
			border-top: 6px solid #999;
			border-left: 6px solid transparent; 
			border-right: 6px solid transparent;
			position:absolute;
			right: 0; top: 20px;
		}
		.banner .user_status ul li > strong{
			font-size: 1.8em;
		}

/*Color Code*/

.pink {
    background-color:#F3C;    
}
.lime {
	background-color:#CF0;	
}
.blue {
	background-color:#09C;	
}


/*Left Navigation Style*/
.leftNav {
	float:left;
	margin: 0 0 0 10px;
}
	.leftNav ul{
		list-style:none;
		float:left;	
		margin:0;
		padding:0;
	}
		.leftNav ul li {
			width:225px;
		}
		.leftNav ul li:first-child a {
			margin: 30px 0 25px 10px;
		}
		
		.leftNav ul li a{
			float:left;
			line-height: 50px;
			cursor:pointer;
			margin:10px;
			text-align:center;
			width:100%;
			border-radius:5px;
			position:relative;
		}
		
		.leftNav ul li a > div {
			width:5px;
			position:absolute;
			right:0;
			top:0;
			border-radius:0 5px 5px 0;
			height: 50px;
		}
		
		.leftNav ul li a:hover{
	
			
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(top,  #FFF 0%, #EAEAEA 97%); 
			background: -webkit-linear-gradient(top,  #FFF 0%, #EAEAEA 97%); 
			background: linear-gradient(to bottom, #FFF 0%, #EAEAEA 97%);
		}
		.leftNav ul li a.selected{
			line-height:50px;
			width: 225px;
			font-weight:bold;
			font-size:18px;
			-webkit-box-shadow: inset 0px 0px 9px 1px rgba(0, 0, 0, 0.5);
			box-shadow: inset 0px 0px 9px 1px rgba(0, 0, 0, 0.5);
			background-color:#F7F7F7;
		}
		

		
/*Right Nav*/

.rightContent {
	margin: 10px 20px 0 290px;
  	border:solid 1px #ccc;
	-webkit-box-shadow: inset 0px 0px 2px 2px rgba(255, 255, 255, 1);
	box-shadow: inset 0px 0px 2px 1px rgba(255, 255, 255, 1);
	border-radius: 5px;
	position:relative;
	min-width:600px;
}

.rightContent #container {
	padding: 10px;
	background-color:#f8f8f8;
}

#notification {
				position: absolute;
				top: 10px;
				left: 0px;
				width: 100%;
				z-index:1000;
			}
				
				#notification span {
					display: block;
					margin: 10px 0px 0px 10px;
				}
				#notification p {
					background-color: #FFC;
					border: solid 1px #FC0;
					width: 660px;
					text-align:center;
					margin-left: auto;
					margin-right: auto;
					padding: 10px;
				}

.calendar {
	margin: 10px 0 0 10px;
    width: 230px;
	
	text-align:center;
	
	line-height:50px;
	border: solid #ccc 1px;
	font-weight:bold;
	border-radius: 5px;
	
	-webkit-box-shadow: inset 0px 0px 2px 2px rgba(255, 255, 255, 1);
	box-shadow: inset 0px 0px 2px 1px rgba(255, 255, 255, 1);
	
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 97%); /* FF3.6+ */	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(97%,#f2f2f2));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 97%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 97%); 
	background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 97%); 
	background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 97%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}

	.calendar .date {
		border-radius: 5px 5px 0 0;
		background:#9C0;
		font-size:0.8em;
		line-height: 1.8em;
		color:#FFF;
	}
	.calendar > p {
		font-size:1.5em;
		
	}


/***********************/
/***** Button Style *****/
/***********************/

.blueb {
	
	border: 1px solid transparent;
	background-color:#ccc;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	border-radius: .3em;
	-moz-box-shadow: 0 0 5px 1px rgba(0,0,0,0.1), inset 0 1px rgba(255,255,255,0.35);
	-webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,0.1), inset 0 1px rgba(255, 255, 255, 0.35);
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.1), inset 0 1px rgba(255, 255, 255, 0.35);
	cursor: pointer;
	
	display: inline-block;
	font-family: "helvetica neue",arial,sans-serif;
	font-weight: bold;
	padding: .1em 3em .1em;
	line-height:2em;
	text-align: center;
	
	-moz-transition: all .05s ease-in-out;
	-o-transition: all .05s ease-in-out;
	-webkit-transition: all .05s ease-in-out;
	
	background: #87e0fd; /* Old browsers */

	background: -moz-linear-gradient(top,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6+ */
	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0)); /* Chrome,Safari4+ */
	
	background: -webkit-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10+,Safari5.1+ */
	
	background: -o-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Opera 11.10+ */
	
	background: -ms-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* IE10+ */
	
	background: linear-gradient(to bottom,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C */
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */
	
	

	border-color: #BBB;
	
	font-size:16px;
	color:#fff;
	text-decoration:none;
	
}


.Botton {
	border: 1px solid #e9e9e9;
	background-color:#ccc;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	border-radius: .3em;
	
	cursor: pointer;
	
	display: inline-block;
	font-family: "helvetica neue",arial,sans-serif;
	font-weight: bold;
	margin: 0;
	padding: .1em 1.1em .1em;
	line-height:2em;
	text-align: center;
	
	background: #ffffff; /* Old browsers */

	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	
	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	
	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	
	background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */


	font-size:16px;
	color:#666;
	text-decoration:none;
	
	
}

.menuButtons {
	margin: 1px 10px 0 0;
	opacity: 1;
}

/***********************/
/***** link Style *****/
/***********************/






/*Task board*/

.dailyHeader{
	background:#ccc;
	line-height:50px;
	border-bottom: solid #ccc 1px;
	padding: 0 0 0 10px;
	font-weight:bold;
	border-radius: 5px;
	height:50px;
	min-width:600px;
	-webkit-box-shadow: inset 0px 0px 2px 2px rgba(255, 255, 255, 1);
	box-shadow: inset 0px 0px 2px 1px rgba(255, 255, 255, 1);
	
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 97%); /* FF3.6+ */	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(97%,#f2f2f2));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 97%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 97%);


}



.pro_pad-shadow {
    padding: 10px;
    width: 300px;
    
}
	.pro_curved-hz-2 {
		position: relative;
		background: white;
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
	}
	.pro_curved-hz-2:before {
		top: 0px;
		bottom: 0px;
		left: 10px;
		right: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
		border-radius: 100px / 10px;
	}
	
	.pro_curved-hz-2::before, .pro_curved-hz-2::after {
		content: "";
		position: absolute;
		z-index: -2;
	}
		.pro_text-shadow {
			box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1);
			background-color:#FAFAFA;    
		}



.upper_content {
    background-color:#FFF;
    padding: 0.8em 0.4em 0.4em 0.4em;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
	/*box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);*/
    text-align: center;
    font-size: 1.1em;
    line-height: 1.8em;
}

	.upper_content .secondOptions {
		position:absolute;
		top: 0; left:0;
		width:300px;
		text-align:center;
		display:none;
		z-index:100;
		padding:13px 0 0 0;
	}
 
 
 
.important {
	font-size:1.3em;
	font-weight:bold;	
}
  


.block_tag {
    height:13px;
    /*margin-top:2px;*/
}

.lower_portion {
    position:relative;
	padding: 1em;
	height:45px;
}
        .lower_portion img {
            float:left;
			border:#fff 3px solid;
			box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); 
			height: 40px;
			width:inherit;          
        }
        .lower_portion a.focusStar {
            
            width: 0px; 
            border-bottom: 40px solid rgba(200, 200, 200, 0.2);
            border-left: 40px solid transparent;
            border-right: 0px solid transparent;
            position:absolute;
            bottom:0;
            right:0;
            text-align:center;
            cursor:pointer;
        }
		
		.lower_portion a.focused {
            
            width: 0px; 
            border-bottom: 40px solid rgba(255, 0, 0, 0.9);
            border-left: 40px solid transparent;
            border-right: 0px solid transparent;
            position:absolute;
            bottom:0;
            right:0;
            text-align:center;
            cursor:pointer;
        }
        
        .lower_portion a.focusStar:after {
            content: '';
            position: absolute;
            bottom: -40px; 
            right: 0;
            z-index: 4;
            border-bottom: 42px solid rgba(233, 233, 233, 0.3);
            border-left: 42px solid transparent;
            border-right: 0px solid transparent;
        }
        .lower_portion a.focusStar:hover {
            
            width: 0px;
            border-bottom: 40px solid rgba(255, 0, 0, 0.3);
            border-left: 40px solid transparent;
            border-right: 0px solid transparent;
        }
		
        
        .lower_portion .details {
            padding: 0 15px;
            float:left;
			font-size:0.8em;
			color:#999;
        }
            .lower_portion .details ul {
                list-style:none;
                float:right;    
                margin:0;
                padding:0;
            }
            .lower_portion .details ul li{
                padding: 5px 0;
            }

.addblock {
	padding: 30px 0 30px 80px;
	cursor:pointer;
}
                		
.add{
	width: 20px;
	height: 20px;
	display:inline-block;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	background:#E2e2e2;
	text-align:center;
	line-height:18px;
	color:#fff;
	font-weight:bold;
}

	.add::after {
		content:"Add";
		top:42px;
		left: 115px;
		color:#ccc;
	}
	
	
	
							
						
                		

/* icons */

.success-alt {
	left: 6px;
	
	width: 5px;
	height: 12px;
	border-width: 0 5px 5px 0;
	border-style: solid;
	border-color: #3C9179;
	margin-top: -11px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	float:left;
}
.deleteme {
	position:absolute;
	top:15px;
	right:20px;
}


.delete-alt a::before, .delete-alt a::after {
	left: 6px;
	width: 5px;
	height: 15px;
	margin-top: -7px;
	background:#F00;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

	.delete-alt a::after {
		left: 1px;
		width: 15px;
		height: 5px;
		margin-top: -2px;
	}


div::before, div::after, div a::before, div a::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
}

/*.stayin {
position: absolute;
top: 8px;
left: 0;
width: 200px;
text-align: left;
margin: 0 0 0 20px;
}

.deleteme {
position: absolute;
top: 15px;
right: 25px;
}*/

.stayin {
	padding: 21px 0 0 0;	
}

.progressBar {
    background-color: white;

    /*border-radius: 13px; *//* (height of inner div) / 2 + padding */
    padding: 0px;
    width: 150px;
    border: 2px solid #000000;
	margin-top:13px;
}

.progressBar div {
    background-color: #149414;
    width: 60%; /* Adjust with JavaScript */
    height: 20px;
    /*border-radius: 10px;*/
}

#newTaskHintId {
    height:300px;     
    width: 100%;     
    line-height:270px; 
    font-size:20px; 
    margin-left: 190px; 
    margin-top: 20px;
}
